extends layout

block content
        h1 C O L L E X T | me
            .row
                .col-md-10
                    a.google
                        button.btn.btn-primary
                            | Login to COLLEXT with Google !
                        script    
                            include google.js