extends layout

block content
  h3.title.spaced COLLECT TEXT
  p.spaced
    | Let them know how you are!

  .row
    .col-md-12
      form.form-horizontal(action='/notifications', method='POST')
        .form-group
          .col-md-10
            label.col-md-0.control-label To
            input(type="tel").form-control(name='to')
            label.col-md-0.control-label Message
            textarea.form-control(name='message')
            span.text-primary#validation_message


       
            button.btn.btn-primary
              | Send A Collect Text !
